Source: p7zip
Section: utils
Priority: optional
Maintainer: Robert Luberda <robert@debian.org>
Build-Depends: debhelper-compat (= 13), yasm
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://gitee.com/GXDE-OS/p7zip-legacy

Package: p7zip-legacy
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Description: Collection package p7zip-legacy of old versions of p7zip, p7zip-full, and p7zip-rar is suitable for spark-dwine-helper
 旧版本 p7zip、p7zip-full、p7zip-rar 的集合包 p7zip-legacy 适用于 spark-dwine-helper
